<html>
  <head>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="tmenu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/resume.org">Resume</a></li>
        <li><a href="/contact.org">Contact</a></li>
        <li><a href="/programming.org">Programming</a></li>
        <li><a href="/systems.org">Systems</a></li>
        <li><a href="/philosophy.org">Philosophy</a></li>
      </ul>
    </div>
    {{.Payload}}
  </body>
</html>
